@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Kanit;
    margin: 0;
}

header {
    max-width: 1500px;
    margin: 0 auto;
    position: sticky;
    top: 0; 
    background-color: white; 
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #c3cadb;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.burger_menu{
    display: none;
    width: 50px;
    height: auto;
}

.header__nav {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-right ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.nav-list {
    padding: 10px 20px;
    text-decoration: none;
    color: #608AF5;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list.active {
    background-color: #608AF5;
    color: white;
    font-weight: bold;
}

.header__nav-right ul:hover .nav-list.active {
    background-color: transparent;
    color: #608AF5;
    font-weight: bold;
}

.nav-list:hover {
    background-color: #608AF5;
    color: white;
    font-weight: bold;
}

.container {
    background-image: url(Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 100px auto;
}

.style__span-text {
    color: #608AF5;
}

.aboutme__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    font-size: 30px;
}

.aboutme__bottom {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.aboutme__bottom-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid #608AF5;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.aboutme__bottom-text p {
    line-height: 0.5;
}

footer {
    background-color: #c3cadb; 
    color: #FFFFFF; 
    padding: 40px 0; 
    font-family: Arial, sans-serif; 
    max-width: 1500px;
    margin: 0 auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.footer__links, 
.footer__logo {
    text-align: center; 
}

.footer__links ul {
    list-style: none; 
    padding: 0; 
}

.footer__links li {
    margin: 5px 0; 
}

.footer__links h4,
.footer__social h4 {
    color: #608AF5;
    font-size: 20px;
    font-weight: bold;
}

.footer-list {
    color: white; 
    text-decoration: none; 
}

.footer-list:hover,
.footer__social-icon:hover {
    color: #608AF5; 
}

.footer__social,
.footer__contact {
    text-align: right; 
}

.footer__social-icons {
    display: flex;
    justify-content: flex-end; 
    margin: 10px 0; 
}

.footer__social-icon {
    margin-left: 10px; 
    color: white; 
    text-decoration: none; 
}

@media (max-width: 828px){
    .header__nav{
        display: flex;
        justify-content: center;
    }
    .header__nav-left img{
        display: none;
    }

    .footer{
        max-width: 828px;
        padding: 10px;
    }
}

@media (max-width: 764px){
    h1{
        font-size: 30px;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer__social, .footer__contact{
        text-align: center;
    }
    .footer__social-icons{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 704px){
    .aboutme__top, .aboutme__bottom{
        display: flex;
        flex-direction: column;
    }

    .header__nav-right{
        font-size: 12px;
    }
}

@media (max-width: 550px){
    .header__nav-right{
        display: none;
    }

    .header__nav-left img{
        display: block;
        justify-content: space-between;
    }

    .header__nav-left{
        display: flex;
        justify-content: space-between;
        gap: 150px;
    }

    .aboutme__top img, .aboutme__bottom img{
        width: 200px;
        height: auto;
    }
    h1{
        font-size: 20px;
    }
    .aboutme__bottom-text{
        font-size: 20px;
    }
}

@media (max-width: 400px){
    .header__nav-left{
        gap: 30px;
    }
}